<h2>Скрипт выведет на экран заданное количество случайных слов</h2>


<form>
    <input type="text" id="random-words-number" autocomplete="off">
    <button class="create-random-array" type="submit">  ЖМИ! </button>
</form>

<p id="random-numbers-list"> </p>





<button id="show-next-word"> Слова в столбик </button>

<ul id="words-list"></ul>



<button id="show-one-word"> Слова по одному </button>

<h2 id="one-word"></h2>



<button id="show-random-number"> Генератор случайных чисел </button>

<h3 id="random-num"></h3>

