<h2>Скрипт выберет заданное количество случайных слов</h2>
<span>соответствующих Вашей карме))</span><p></p>
<input type="text" id="random-words-number" autocomplete="off"><button class="create-random-array">  ЖМИ! </button> 
<p id="random-numbers-list"> </p>

<button id="show-next-word"> Начать показ слов для запоминания </button>

<ul id="words-list"></ul>